import { type I{{pascalCase name}}Props } from './{{pascalCase name}}.types';

import { Container } from './{{pascalCase name}}.styles';

export function {{pascalCase name}}({}:I{{pascalCase name}}Props): JSX.Element {
  return (
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  );
}
